<%= form_for(@business_type) do |f| %>
  <% if @business_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_type.errors.count, "error") %> prohibited this business_type from being saved:</h2>

      <ul>
      <% @business_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tin_number %><br>
    <%= f.text_field :tin_number %>
  </div>
  <div class="field">
    <%= f.label :business_type %><br>
    <%= f.text_field :business_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
