<p id="notice"><%= notice %></p>

<h1>Listing Business Types</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tin number</th>
      <th>Business type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_types.each do |business_type| %>
      <tr>
        <td><%= business_type.name %></td>
        <td><%= business_type.tin_number %></td>
        <td><%= business_type.business_type %></td>
        <td><%= link_to 'Show', business_type %></td>
        <td><%= link_to 'Edit', edit_business_type_path(business_type) %></td>
        <td><%= link_to 'Destroy', business_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Show Vendors', business_types_show_vendors_path(:business_type_id => business_type) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business type', new_business_type_path %>
